

$color-grey-50: #B4B4B4;
$color-grey-40: #DCDCDC;
$color-grey-30: #EBEBEB;
$color-grey-20: #F2F2F2;
$color-grey-10: #FCFCFC;


/*----- COLOR CYAN -----*/
$color-cyan-950: #083344;
$color-cyan-900: #164e63;
$color-cyan-800: #155e75;
$color-cyan-700: #0e7490;
$color-cyan-600: #0891b2;
$color-cyan-500: #06b6d4;
$color-cyan-400: #22d3ee;
$color-cyan-300: #67e8f9;
$color-cyan-200: #a5f3fc;
$color-cyan-100: #cffafe;
$color-cyan-50: #ecfeff;

/*----- COLOR BLUE -----*/
$color-blue-950: #172554;
$color-blue-900: #1e3a8a;
$color-blue-800: #1e40af;
$color-blue-700: #1d4ed8;
$color-blue-600: #2563eb;
$color-blue-500: #3b82f6;
$color-blue-400: #60a5fa;
$color-blue-300: #93c5fd;
$color-blue-200: #bfdbfe;
$color-blue-100: #dbeafe;
$color-blue-50: #eff6ff;

/*----- COLOR INDIGO -----*/
$color-indigo-950: #1e1b4b;
$color-indigo-900: #312e81;
$color-indigo-800: #3730a3;
$color-indigo-700: #4338ca;
$color-indigo-600: #4f46e5;
$color-indigo-500: #6366f1;
$color-indigo-400: #818cf8;
$color-indigo-300: #a5b4fc;
$color-indigo-200: #c7d2fe;
$color-indigo-100: #e0e7ff;
$color-indigo-50: #eef2ff;

/*----- COLOR SKY -----*/
$color-sky-950: #082f49;
$color-sky-900: #0c4a6e;
$color-sky-800: #075985;
$color-sky-700: #0369a1;
$color-sky-600: #0284c7;
$color-sky-500: #0ea5e9;
$color-sky-400: #38bdf8;
$color-sky-300: #7dd3fc;
$color-sky-200: #bae6fd;
$color-sky-100: #e0f2fe;
$color-sky-50: #f0f9ff;

/*----- COLOR LIME -----*/
$color-lime-950: #1a2e05;
$color-lime-900: #365314;
$color-lime-800: #3f6212;
$color-lime-700: #4d7c0f;
$color-lime-600: #65a30d;
$color-lime-500: #84cc16;
$color-lime-400: #a3e635;
$color-lime-300: #bef264;
$color-lime-200: #d9f99d;
$color-lime-100: #ecfccb;
$color-lime-50: #f7fee7;

/*----- COLOR GREEN -----*/
$color-green-950: #052e16;
$color-green-900: #14532d;
$color-green-800: #166534;
$color-green-700: #15803d;
$color-green-600: #16a34a;
$color-green-500: #22c55e;
$color-green-400: #4ade80;
$color-green-300: #86efac;
$color-green-200: #bbf7d0;
$color-green-100: #dcfce7;
$color-green-50: #f0fdf4;

/*----- COLOR EMERALD -----*/
$color-emerald-950: #022c22;
$color-emerald-900: #064e3b;
$color-emerald-800: #065f46;
$color-emerald-700: #047857;
$color-emerald-600: #059669;
$color-emerald-500: #10b981;
$color-emerald-400: #34d399;
$color-emerald-300: #6ee7b7;
$color-emerald-200: #a7f3d0;
$color-emerald-100: #d1fae5;
$color-emerald-50: #ecfdf5;

/*----- COLOR PINK -----*/
$color-pink-950: #500724;
$color-pink-900: #831843;
$color-pink-800: #9d174d;
$color-pink-700: #be185d;
$color-pink-600: #db2777;
$color-pink-500: #ec4899;
$color-pink-400: #f472b6;
$color-pink-300: #f9a8d4;
$color-pink-200: #fbcfe8;
$color-pink-100: #fce7f3;
$color-pink-50: #fdf2f8;

/*----- COLOR ROSE -----*/
$color-rose-950: #4c0519;
$color-rose-900: #881337;
$color-rose-800: #9f1239;
$color-rose-700: #be123c;
$color-rose-600: #e11d48;
$color-rose-500: #f43f5e;
$color-rose-400: #fb7185;
$color-rose-300: #fda4af;
$color-rose-200: #fecdd3;
$color-rose-100: #ffe4e6;
$color-rose-50: #fff1f2;

/*----- COLOR RED -----*/
$color-red-950: #450a0a;
$color-red-900: #7f1d1d;
$color-red-800: #991b1b;
$color-red-700: #b91c1c;
$color-red-600: #dc2626;
$color-red-500: #ef4444;
$color-red-400: #f87171;
$color-red-300: #fca5a5;
$color-red-200: #fecaca;
$color-red-100: #fee2e2;
$color-red-50: #fef2f2;

$gray-900: #3A3A3A;
$gray-800: #565656;
$gray-700: #6A6A6A;
$gray-600: #949494;
$gray-500: #B4B4B4;
$gray-400: #DCDCDC;
$gray-300: #EBEBEB;
$gray-200: #F2F2F2;
$gray-100: #FCFCFC;


/*----- 基礎組件 -----*/
$font-Mulish: 'Mulish', sans-serif;
$font-DMsans: 'DM Sans', sans-serif;

$bd-radius-lg: 52px;

$font-size-body-lg: 28px;
$font-size-body-lg: 28px;

$text-color-100: #000000;
$text-color-87: #212121;
$text-color-60: #666666;
$text-color-38: #9E9E9E;
$text-color-0: #fff;
// $color-primary-default: #166A39;
// $color-primary-dark: #0E3D1E;
// $color-primary-light: #E6F5EA;

$color-primary-default: $color-blue-700;
$color-primary-dark: $color-blue-950;
$color-primary-light: $color-blue-100;

$color-success-default: $color-emerald-400;
$color-success-light: $color-emerald-100;
$color-danger-default: $color-rose-400;
$color-danger-light: $color-rose-50;

$font-NotoTC: 'Noto Sans TC', sans-serif;

$text-color-primary: #1C2B36;
$text-color-secondary: #3E5463;
$text-color-tertiary: #9FB1BD;

$color-black: #000;
$color-white: #fff;
$color-light-grey: #00000040;

$color-border: $color-light-grey;