/*//////////////////////////////
===== filter Section START =====
//////////////////////////////*/

.filter-section {
  width: 100%;
  padding: 16px 24px;
  background-color: #fff;
  border-bottom: 1px solid $color-border;
}

.filter-content {
  // padding-top: 72px;
  display: flex;
  align-items: center;
}