
/*////////////////////////////
===== Main Board START =====
////////////////////////////*/
.main-board-section {
  overflow-y: auto;
  flex: 1;
}
/*----- main-board-content -----*/
.main-board-content {
  padding: 24px 12px;
}

.main-board-wrap {
  height: 500px;
}
