
/*////////////////////////////////
===== Card - With Icon START =====
////////////////////////////////*/
.card-with-icon {
  min-width: 0;
  height: 100%;
  word-wrap: break-word;
  background-color: #fff;
  // background-clip: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14),
              0px 3px 1px -2px rgba(0, 0, 0, 0.12),
              0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 24px 20px;
}
// 新漢AOI專用
.card-with-icon.result-reject {
  border: 3px solid $color-red-400;
  padding: 24px;
}
// 新漢AOI專用
.card-with-icon.result-pass {
  border: 3px solid $color-green-500;
  padding: 24px;
}
.card-with-icon.card-row {
  display: flex;
  align-items: center;
}
.card-with-icon.card-column {
  display: flex;
  flex-direction: column;
}

/*----- card-icon -----*/
.card-with-icon .card-icon {
  width: 56px;
  height: 56px;
  background-color: $color-primary-default;
  border-radius: 100px;
  display: flex;
  margin-right: 24px;
}
// 新漢AOI專用
.card-with-icon.result-reject .card-icon{
  width: 64px;
  height: 64px;
  background-color: $color-red-400;
}
// 新漢AOI專用
.card-with-icon.result-pass .card-icon {
  width: 64px;
  height: 64px;
  background-color: $color-green-500;
}
.card-with-icon .card-icon span {
  color: $color-white;
  font-size: 40px;
  margin: auto;
}

/*----- card-info -----*/
.card-with-icon .card-info {
  flex:1;
}

/*----- card-head -----*/
.card-with-icon .card-head {
  display: flex;
  align-items: center;
}

/*----- card-head 標題 -----*/
.card-with-icon .card-head h2 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: $text-color-primary;
}
.card-with-icon .card-head h2 span {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: $color-primary-default;
}

/*----- card-head read more icon -----*/
.card-with-icon .card-head .icon-more {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.card-with-icon .card-head .icon-more span {
  color: $text-color-tertiary;
}

/*----- card-body -----*/
.card-with-icon .card-body {
  flex:1;
  display: flex;
  flex-direction: column;
}
.card-with-icon .card-head small,
.card-with-icon .card-body small {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  color: $text-color-tertiary;
}
.card-with-icon .card-head small {
  margin-left: 8px;
}
.card-with-icon .card-body small {
  margin-bottom: auto;
}
.card-with-icon .card-body p {
  font-size: 40px;
  line-height: 1.3;
  font-weight: 500;
  color: $text-color-primary;
}
